p:hover {
	text-decoration: underline;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.left, .right {
	display: inline-block;
	margin: 430px 200px 0px 200px;

}

p {
	display: inline;
	color: #AEB6BF;
	padding: 10px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.undersearch {
	color: #AEB6BF;
	text-align: center;
	margin-top: 20px;
}

.bold {
	background: #EAEDED;
	font-weight: bold;
}

.bold:hover {
	color: black;
	border: solid 1px black;
}

input {
	display: block;
	padding: 10px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

